@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Condensed", sans-serif;
    @apply overflow-x-hidden;
}

.text-stroke-3 {
  text-shadow: -5px -5px 0 black, 5px -5px 0 black, -5px 5px 0 black, 5px 5px 0 black;
}
.text-stroke-1 {
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}
  
@font-face {
    font-family: "Kdam Thmor Pro";
    src: url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
  }

  
